---
import { markdownify } from "@/lib/utils/textConverter";

const { pricing } = Astro.props;
const { title, description, pricing_table, pricing_explanations } = pricing;
---

<section class="section pricing" id="pricing">
  <div class="container">
    <div class="row justify-between text-center lg:text-start">
      <div class="lg:col-5">
        <h2 set:html={markdownify(title)} />
      </div>
      <div class="mt-6 lg:col-5 lg:mt-0">
        <p set:html={markdownify(description)} />
      </div>
    </div>
  </div>

  <div class="row mt-[30px] items-center">
    <div class="col-8 mx-auto mb-10 text-center">
      <table style="border-collapse: collapse; width: 100%; max-width: 1200px; margin: 0 auto; font-weight: bold;">
        <tr>
          {pricing_table.headers.map((header) => (
            <th style="border: 2px solid black; padding: 8px; background-color: white;">{header}</th>
          ))}
        </tr>
        {pricing_table.rows.map((row) => (
          <tr>
            {row.map((cell) => (
              <td style="border: 2px solid black; padding: 8px; background-color: white;">{cell}</td>
            ))}
          </tr>
        ))}
      </table>

      <div class="explanation" style="max-width: 800px; margin: 20px auto; text-align: left; font-weight: normal; display: flex; flex-wrap: wrap;">
        <div class="explanation-left" style="width: 50%;">
          {pricing_explanations.left.map((explanation) => (
            <p>{explanation}</p>
          ))}
        </div>
        <div class="explanation-right" style="width: 50%;">
          {pricing_explanations.right.map((explanation) => (
            <p>{explanation}</p>
          ))}
        </div>
      </div>

      <style>
        @media (max-width: 768px) {
          .explanation {
            flex-direction: column;
          }
          .explanation-left,
          .explanation-right {
            width: 100%;
          }
        }
      </style>
    </div>
  </div>
</section>